/* Login.css */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    background-image: url('../../assets/img/login.png'); /* Set the image as background */
    background-size:  cover; /*Cover the entire container */
    background-position: center; /* Center the background image */
  }
  